body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    
   
  }
  
  h1 {
    margin: 0;
    padding: 1rem;
    text-align: center;
    background-color: #0077be;
    color: black;
    background-color: white;
  }
  

  
  #div01 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 2rem;
  }
  
  #box01 {
    flex: 1;
    padding: 1rem;
    color: white;
  }
  
  #box02 {
    flex: 1;
    padding: 1rem;
  }
  
 
  
  
  #p1 {
    margin-top: 0;
    
  }
  
  #p2 {
    margin-bottom: 0;
  }
  
  
  #img1 {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  #img2 {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
  